{{define "about"}}
<div class="text-left mb-4">
    <h1>О чем этот сайт /ᐠ • ˕ •マ ?</h1>
    <br>
    <div class="col-12">
        <div class="post-card">
            <p class="card-text">
                Сайт создан в учебно-развлекательных целях.
                <br>Основной функционал - агрегация RSS лент, которые сервис с периодичностью собирает с внешних ресурсов.
                <br>
                <br>А еще есть API с авторизацией по токену, добавлением своего канала на ресурс, функционалом подписки-отписки от канала.
                <br><a href="https://github.com/plyajniq/rss-agg" class="text-decoration-none read-link"> 🚀 Проект на GitHub *<u>клик</u>*</a>
            </p>
        </div>
    </div>
</div>
{{end}}
