{{define "content"}}
    <h2>Добро пожаловать на главную страницу!</h2>
    <h3>{{.Special}}</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Ссылка</th>
            </tr>
        </thead>
        <tbody>
            {{range .Feeds}} <!-- Перебираем срез данных Feeds -->
                <tr>
                    <td><a href="/feeds/{{.ID}}">{{.Name}}</a></td> <!-- Выводим имя пользователя -->
                    <td>{{.Url}}</td> <!-- Выводим email -->
                </tr>
            {{else}} <!-- Если срез пустой, показываем сообщение -->
                <tr><td colspan="2">Нет пользователей для отображения</td></tr>
            {{end}}
        </tbody>
    </table>
{{end}}
