{{define "feeds"}}
    <div class="text-center mb-4">
        <h1>ฅ^•ﻌ•^ฅ</h1>
        <h1 class="feeds-header">👇 Каналы которые можно почитать 👀</h1>
    </div>
    <div class="container">
        <div class="row">
            {{- range .Feeds }}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                ⚡ {{ .Name }}<br>
                                <a href="/feeds/{{ .ID }}" class="text-decoration-none read-link">Что пишут тут *<u>клик</u>*</a>
                            </h5>
                        </div>
                    </div>
                </div>
            {{- end }}
        </div>
    </div>
{{end}}
