<!DOCTYPE html>
<html lang="ru">
<head>
    {{- block "head" .}}
    {{- end }}
</head>
<body>
    {{- block "header" . }}
    {{- end }}
    <div class="container mt-5">
        {{- if .Posts}}
            {{- block "posts" .}}{{end}}
        {{- else if .Feeds}}
            {{- block "feeds" .}}{{end}}
        {{- else if .About}}
            {{- block "about" .}}{{end}}
        {{- else}}
            Контента пока нет
        {{end}}
    </div>
    {{- block "footer" . }}{{- end }}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
